.MainBackground {
    position: relative;
    height: 200vh;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    .Background {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        * {
            position: absolute;
        }
        .Rectangle {
            justify-self: flex-start;
            align-items: flex-start;
            position: relative;
        }
        .Center {
            width: 50vw;
            height: 30vh;
            display: flex;
            justify-content: center;
            align-items: center;
            * {
                object-fit: contain;
            }
            .Rectangle1 {
                width: 100%;
                height: 100%;
            }
            .Rectangle2 {
                width: 80%;
                height: 80%;
            }
            .Rectangle3 {
                width: 80%;
                height: 80%;
            }
            .Rectangle4 {
                width: 80%;
                height: 80%;
            }
            ;
        }
        .Random {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }
}