$main: #00932A;
$color: #fff;
$secondary: #085902;
$secondary-dark: #085902;
$body: #EDEDED;
$secondary-shadow: #085902;
$dark-gray: #2e2e2e;
$dark-shadow-03: rgba(100, 100, 100, 0.3);
$dark-shadow-01: rgba(100, 100, 100, 0.1);
$light-gray: rgb(100, 100, 100);
$light-gray-shadow: rgba(100, 100, 100, 0.1);
$green: #4BB543;