$main: #252A34;
$secondary: #FFC600;
$additional: #5800FF;
$color: #fff;
$secondary-dark: $secondary;
$body: #EDEDED;
$secondary-shadow: $secondary;
$dark-gray: #2e2e2e;
$dark-shadow-03: rgba(100, 100, 100, 0.3);
$dark-shadow-01: rgba(100, 100, 100, 0.1);
$light-gray: rgb(150, 150, 150);
$light-gray-shadow: rgba(100, 100, 100, 0.1);
$green: #4BB543;