.Main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: transparent;
    text-align: center;
    * {
        transition: font-size 0.5s ease-in-out;
    }
    .container {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-top: 100Px;
        .Text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            h1 {
                font-size: 40px;
                font-weight: bold;
                span {
                    color: $secondary;
                }
            }
            p {
                font-size: 25px;
                font-weight: medium;
                color: $light-gray;
                width: 60%;
                text-align: center;
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 991px) {
    .Main {
        width: 100% !important;
        .container {
            .Text {
                h1 {
                    font-size: 20px !important;
                    font-weight: 400 !important;
                    span {
                        font-weight: bold !important;
                    }
                }
                p {
                    font-size: 15px !important;
                    width: 100%;
                }
            }
        }
        .Keywords {
            display: flex;
            flex-direction: column;
            input[type="text"] {
                width: 100% !important;
                height: 30px !important;
                border-radius: 50px !important;
                font-size: 12px !important;
            }
            button {
                width: 50% !important;
                border-radius: 50px !important;
                margin-top: 30px;
                height: 30px !important;
                font-size: 12px !important;
            }
        }
    }
}