.Main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: transparent;
    text-align: center;
    user-select: none;
    * {
        transition: font-size 0.5s ease-in-out;
    }
    .Push {
        position: absolute;
        opacity: 1;
        visibility: visible;
        top: 25%;
        background-color: #151515;
        display: flex;
        justify-content: flex-start;
        padding: 0 50px;
        align-items: center;
        width: 50%;
        height: 60px;
        background-color: #fff;
        border-radius: 10px;
        color: #151515;
        transition: all 0.2s ease-in-out;
        animation: Push 4s ease-in-out forwards;
        @keyframes Push {
            0% {
                opacity: 0;
                visibility: hidden;
                top: -25%;
            }
            25% {
                opacity: 1;
                visibility: visible;
                top: 25%;
            }
            50% {
                opacity: 1;
                visibility: visible;
                top: 25%;
            }
            75% {
                opacity: 1;
                visibility: visible;
                top: 25%;
            }
            100% {
                opacity: 0;
                visibility: hidden;
                top: -25%;
            }
        }
        &::before {
            content: '';
            width: 15px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: $green;
            border-radius: 10px 0 0 10px;
        }
        .Icon {
            color: $green;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                font-size: 40px;
            }
        }
        .Message {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 40%;
            text-align: start;
            margin-left: 20px;
            h3 {
                font-size: 20px;
                text-align: left !important;
                color: $green !important;
            }
            p {
                font-size: 14px;
                text-align: left;
                color: rgb(150, 150, 150);
            }
        }
        .Close {
            width: 75px;
            height: 100%;
            border-left: 1px solid rgb(200, 200, 200);
            color: rgb(200, 200, 200);
            display: flex;
            justify-content: center;
            align-items: center;
            justify-self: flex-start;
            align-self: center;
            position: absolute;
            right: 0;
            font-size: 12px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .container {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-top: 100Px;
        .Text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .title {
                font-size: 40px;
                font-weight: bold;
                span {
                    color: $secondary;
                }
            }
            .description {
                font-size: 25px;
                font-weight: medium;
                color: rgba(0, 0, 0, 0.5);
                filter: invert(1);
                width: 60%;
                text-align: center;
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 991px) {
    .Main {
        width: 100% !important;
        .container {
            .Text {
                .title {
                    font-size: 20px !important;
                    font-weight: 400 !important;
                    span {
                        font-weight: bold !important;
                    }
                }
                .description {
                    font-size: 15px !important;
                    width: 100%;
                    color: #fff !important;
                }
            }
        }
        .Keywords {
            display: flex;
            flex-direction: column;
            input[type="text"] {
                width: 100% !important;
                height: 30px !important;
                border-radius: 50px !important;
                font-size: 12px !important;
            }
            button {
                width: 50% !important;
                border-radius: 50px !important;
                margin-top: 30px;
                height: 30px !important;
                font-size: 12px !important;
            }
        }
    }
}