* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDEDED;
    color: #fff;
}

@media (orientation: landscape) {
    body {
        grid-auto-flow: column;
    }
}