@import './../Global/colours';
.Login {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    #Success {
        background-color: #151515;
        transition: all 0.6s ease-in-out;
        position: absolute;
        z-index: 1000;
        font-size: 15px;
        top: -10%;
    }
    .Login-Container {
        width: 450px;
        height: 650px;
        background-color: rgb(24, 24, 24);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 2.5% 0;
        h1:first-child {
            font-size: 20px;
            text-transform: uppercase;
            color: $color;
            opacity: 0.15;
            width: 85%;
            text-align: center;
            justify-self: flex-start !important;
            flex: 1;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 85%;
            flex: 3;
            >label {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.05);
                height: 50px;
                input {
                    width: auto;
                    height: 100%;
                    width: 87.5%;
                    background-color: transparent;
                    opacity: 1;
                    border: none;
                    padding: 0% 5%;
                    color: $color;
                    &:focus {
                        outline: none;
                    }
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.025);
                    }
                }
                span {
                    position: relative;
                    height: 100%;
                    width: 0%;
                    padding-left: 12.5%;
                    background-color: rgba(255, 255, 255, 0.05);
                    >* {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        opacity: 0.25;
                    }
                }
            }
            .RememberMe {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.1;
                display: grid;
                grid-template-columns: 1em auto;
                gap: 0.5em;
                color: $light-gray;
                input[type="checkbox"] {
                    cursor: pointer;
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: transparent;
                    margin: 0;
                    font: inherit;
                    color: $light-gray;
                    width: 1.15em;
                    height: 1.15em;
                    border: 0.15em solid $light-gray;
                    border-radius: 0.15em;
                    transform: translateY(-0.075em);
                    display: grid;
                    place-content: center;
                }
                input[type="checkbox"]::before {
                    content: "";
                    width: 0.65em;
                    height: 0.65em;
                    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                    transform: scale(0);
                    transform-origin: bottom left;
                    transition: 120ms transform ease-in-out;
                    box-shadow: inset 1em 1em var(--form-control-color);
                    /* Windows High Contrast Mode */
                    background-color: $light-gray;
                }
                input[type="checkbox"]:checked::before {
                    transform: scale(1);
                }
                input[type="checkbox"]:focus {
                    outline: none;
                    outline-offset: none;
                }
                label {
                    margin-left: 5px;
                }
            }
            button {
                height: 60px;
                width: 100%;
                background-color: $secondary;
                border: none;
                outline: none;
                font-size: 18px;
                color: rgba(255, 255, 255, 0.5);
                font-weight: bold;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                &::after {
                    content: '';
                    transition: all 300ms ease-in-out;
                    position: absolute;
                    width: 40%;
                    height: 60%;
                    opacity: 0;
                    border-radius: 40px;
                    background-color: rgba(255, 255, 255, 0.1);
                }
                &:hover {
                    cursor: pointer;
                    &::after {
                        opacity: 1;
                        width: 100%;
                        height: 100%;
                        border-radius: 0px;
                    }
                }
                &:active {
                    cursor: pointer;
                    &::after {
                        opacity: 0.25;
                        width: 75%;
                        height: 100%;
                        border-radius: 40px;
                    }
                }
            }
            .Reset {
                width: 100%;
                text-align: center;
                p {
                    font-size: 14px;
                    font-weight: 200;
                    color: rgba(255, 255, 255, 0.5);
                    span {
                        position: relative;
                        color: $secondary;
                        &:after {
                            content: '';
                            transition: width 300ms ease-in-out;
                            width: 0%;
                            height: 1px;
                            position: absolute;
                            bottom: -1px;
                            left: 0;
                            background-color: $secondary;
                        }
                        &:hover {
                            cursor: pointer;
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .API {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 85%;
            flex: 1;
            .Continue {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                flex: 3;
                height: 15%;
                hr {
                    flex: 1;
                    color: $color;
                    opacity: 0.2;
                }
                p {
                    margin: 0 5px;
                    color: $color;
                    opacity: 0.2;
                }
            }
            .Choice {
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 50px;
                .Company {
                    position: relative;
                    width: 47.5%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.05);
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    img {
                        width: 12.5%;
                        height: auto;
                    }
                    p {
                        font-size: 15px;
                        width: 50%;
                        opacity: 0.75;
                        font-weight: 500;
                    }
                    &::after {
                        content: '';
                        transition: all 300ms ease-in-out;
                        position: absolute;
                        width: 40%;
                        height: 60%;
                        opacity: 0;
                        border-radius: 40px;
                        background-color: rgba(255, 255, 255, 0.025);
                    }
                    &:hover {
                        cursor: pointer;
                        &::after {
                            opacity: 1;
                            width: 100%;
                            height: 100%;
                            border-radius: 0px;
                        }
                    }
                    &:active {
                        cursor: pointer;
                        &::after {
                            opacity: 0.25;
                            width: 75%;
                            height: 100%;
                            border-radius: 40px;
                        }
                    }
                }
            }
        }
        .Sign-up {
            width: 85%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.05);
            text-align: center;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.75);
            flex: 0.5;
            margin-top: 50px;
            span {
                position: relative;
                color: $secondary;
                &:after {
                    content: '';
                    transition: width 300ms ease-in-out;
                    width: 0%;
                    height: 1px;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    background-color: $secondary;
                }
                &:hover {
                    cursor: pointer;
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
    .Background {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        z-index: -1;
        * {
            position: absolute;
        }
        .Rectangle {
            position: absolute;
            justify-self: flex-start;
            align-items: flex-start;
            position: relative;
            background: $main;
            width: 100%;
            height: 140vh;
        }
        .Random {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: block;
            overflow-y: hidden;
            * {
                visibility: hidden;
            }
            .Fill1 {
                visibility: visible;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-90%, -90%);
                width: 35%;
                height: auto;
                animation: Float1 5s ease-in-out infinite 0ms;
                @keyframes Float1 {
                    0% {
                        transform: translate(-90%, -90%);
                    }
                    50% {
                        transform: translate(-90%, -87.5%) rotate(5deg);
                    }
                    100% {
                        transform: translate(-90%, -90%);
                    }
                }
            }
            .Fill2 {
                visibility: visible;
                position: absolute;
                left: 60%;
                top: 50%;
                transform: translate(100%, 0%);
                width: 20%;
                height: auto;
                animation: Float2 5s ease-in-out infinite 0ms;
                @keyframes Float2 {
                    0% {
                        transform: translate(100%, 0%);
                    }
                    50% {
                        transform: translate(100%, 2.5%) rotate(20deg);
                    }
                    100% {
                        transform: translate(100%, 0%);
                    }
                }
            }
            .Fill3 {
                visibility: visible;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, 60%);
                width: 30%;
                height: auto;
                animation: Float3 5s ease-in-out infinite 0ms;
                @keyframes Float3 {
                    0% {
                        transform: translate(-50%, 60%);
                    }
                    50% {
                        transform: translate(-50%, 55.5%) rotate(20deg);
                    }
                    100% {
                        transform: translate(-50, 60%);
                    }
                }
            }
            .Fill4 {
                visibility: visible;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-200%, 25%);
                width: 30%;
                height: auto;
                animation: Float4 5s ease-in-out infinite 0ms;
                @keyframes Float4 {
                    0% {
                        transform: translate(-200%, 25%);
                    }
                    50% {
                        transform: translate(-200%, 22.5%) rotate(-20deg);
                    }
                    100% {
                        transform: translate(-200%, 25%);
                    }
                }
            }
            .Fill5 {
                visibility: visible;
                position: absolute;
                left: 0%;
                top: 5%;
                width: 15%;
                height: auto;
                animation: Float5 5s ease-in-out infinite 0ms;
                @keyframes Float5 {
                    0% {
                        top: 5%
                    }
                    50% {
                        top: 2.5%;
                    }
                    100% {
                        top: 5%;
                    }
                }
            }
            .Fill6 {
                visibility: visible;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(140%, -200%);
                width: 20%;
                height: auto;
                animation: Float6 5s ease-in-out infinite 0ms;
                @keyframes Float6 {
                    0% {
                        transform: translate(140%, -200%) rotate(0deg);
                    }
                    50% {
                        transform: translate(140%, -210%) rotate(20deg);
                    }
                    100% {
                        transform: translate(140%, -200%) rotate(0deg);
                    }
                }
            }
        }
        .Oval {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 550px;
            height: 550px;
            bottom: -35%;
            right: -20%;
            background-color: transparent;
            border-radius: 50%;
            z-index: 0;
            outline: 150px solid $secondary;
            box-shadow: 0px 0px 80px $secondary-shadow;
            &::before {
                content: "";
                width: calc(100% + 300px);
                height: calc(100% + 300px);
                background: transparent;
                position: absolute;
                border-radius: 50%;
                z-index: 100;
                box-shadow: 0px 0px 80px $secondary-shadow;
                animation: GlowOut 2s ease-in-out infinite 0ms;
                @keyframes GlowOut {
                    0% {
                        box-shadow: 0px 0px 40px $secondary-shadow;
                    }
                    50% {
                        box-shadow: 0px 0px 30px $secondary-shadow;
                    }
                    100% {
                        box-shadow: 0px 0px 40px $secondary-shadow;
                    }
                }
            }
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background: transparent;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                z-index: 100;
                box-shadow: inset 0px 0px 80px $secondary-shadow;
                animation: GlowIn 2s ease-in-out infinite 0ms;
                @keyframes GlowIn {
                    0% {
                        box-shadow: inset 0px 0px 80px $secondary-shadow;
                    }
                    50% {
                        box-shadow: inset 0px 0px 80px $secondary-shadow;
                    }
                    100% {
                        box-shadow: inset 0px 0px 80px $secondary-shadow;
                    }
                }
            }
        }
    }
}